@mixin mobile {
    @media screen and (max-width:480px){
        @content;
    }
    
}
@mixin tablet{

    @media screen and (max-width:768px){
        @content;
    }
}

@mixin laptop{
    @media screen and (max-width: 1200px){
        @content;
    }
}
.formContainer{
    background-color: #F0D9FF ;
    height: 100vh;
    display: flex;
    align-items:center ;
    justify-content: center;

    .formWrapper{
        background-color: white;
        padding: 20px 60px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        .logo{
            color: #BFA2DB;
            font-weight: bold;
            font-size: 24px;
        }
        .title{
            color: #BFA2DB;
            font-size: 12px;
        }
        form{
            display: flex;
            flex-direction: column;
            gap: 15px;
            span{
                cursor:context-menu;
            }
            input{
                padding: 15px;
                border: none;
                width: 250px;
                border-bottom: 1px solid #F0D9FF;
                &::placeholder{
                    color: rgb(175,175,175)
                }
            }

            button{
                background-color: #F0D9FF;
                color: #7F7C82;
                font-weight: bold;
                border-radius: 30px;
                padding: 5px;
                border: none;
                cursor: pointer;
            }
            
            button:hover{
                background-color: #9e8ea8;
                color: white;
                padding: 5px;
                border: none;
                transition: ease-in-out 0.17s;
            }
            label{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                gap:20px;
                cursor: pointer;
                 img{
                    height: 32px;
                    padding-left: 10px;
                    opacity: 70%;
                 }
                 span{
                    cursor: pointer;
                    color: #BFA2DB;
                    opacity: 80%;
                 }
            }

        }
        p{
            color: #9e8ea8;
        }
    }
}


.home{
    background-color: #eedfdf;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .container{
        border: 1px solid white;
        border-radius: 10px;
        width: 65%;
        height: 90%;
        display: flex;
        overflow: hidden;
        @include tablet{
            width: 95%;
            height: 90%;
        }
        .sidebar{

            flex:1;
            border-right: 1px solid #564c69;
            background-color: #564c69;
            overflow-x: hidden;
            position: relative;
            @include mobile{
                width: 22%;
            }

            .navbar{
                display: flex;
                align-items: center;
            background-color: #403950;
            height: 50px;
            padding: 10px;
            justify-content: space-between;
            color: #F0D9FF;

            .logo{
                font-weight: bold;

                @include tablet {
                    display: none;
                }
            }
            .user{
                display: flex;
                gap: 10px;
                align-items: center;
                overflow: hidden;
                @include tablet {
                    font-size: 13px;
                }
               
                img{
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                    @include tablet {
                        height: 35px;
                        width: 35px;
                    }
                }
            button{
                background-color:#9e8ea8;
                border: none;
                color: white;
             @include tablet{
                position: absolute;
                bottom: 10px;
             }
            }
            }


            }
            .search{
                border-bottom: 1px solid gray;

                .searchForm{
                    padding:10px;
                input{
                    background-color: transparent;
                    border: none;
                    color: white;

                    &::placeholder{
                        color: lightgray;
                    }
                }
                }
            }
        
            
            .userChat{
             
                padding:10px;
                display: flex;
                align-items: center;
                gap: 10px;
                color: white;
                cursor: pointer;
                @include mobile{
                    gap: 9px;
                    margin-top:10px;
                }

                &:hover{
                    background-color: #6c6480;
                }
             
                img{
                    width: 38px;
                    height: 38px;
                    border-radius: 50%;
                    object-fit: cover;
                    @include mobile{
                        width: 27px;
                        height: 27px;
                    }
                }
               
                .userChatInfo{
                    span{
                        font-size:18px;
                        font-weight: 500;
                        @include mobile{
                            font-size: 15px;
                        }
                    }
                    p{
                        font-size: 14px;
                        color: lightgray;
                    }
                }
            }
            .currentUser{
                background-color: #403950;
            }
         
        } 
        .chat{
            flex:2;

            .chatInfo{
                height: 50px;
                background-color:#403950;
                display: flex;
                align-items: center;
                justify-content:space-between;
                padding: 10px;
                color: lightgray;
            }
            .chatIcons{
                display: flex;
                gap: 10px;
            }
            .nochat{
            display: flex;
            align-items: center;
            justify-content: center;
            color: #F0D9FF;                 
            }
            .messages{
                background-color: #9e8ea8;
                padding: 10px;
                height: calc(90vh - 160px);
                overflow-y: scroll;

                .message{
                    display: flex;
                    gap: 20px;
                    margin-bottom: 20px;
                    @include mobile {
                   gap: 15px;
                
                        }

                    .messageInfo{
                   
                        display: flex;
                        flex-direction: column;
                        color: rgb(97, 96, 96);
                        font-weight: 300;
                        font-size: small;
                        @include mobile {
                            margin-right: 10px;
                            font-size: 10px;
                            width: 5px;
                            }
                        img{
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            object-fit: cover;
                            @include mobile {
                                width: 20px;
                            height: 20px;
                                }
                        }
                    }
                    .messageContent{
                        max-width: 80%;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        @include mobile {
                            font-size: smaller;
                            }

                        p{
                            background-color: #dae2ff;
                            padding: 10px 20px;
                            border-radius: 0px 10px 10px 10px;
                            max-width: max-content;
                        }
                        img{
                            width: 50%;
                        }
                    }
                    &.owner{
                        flex-direction: row-reverse;

                        .messageContent{
                            align-items: flex-end;
                        }
                        p{
                            background-color: #64586b;
                            color: white;
                            border-radius: 10px 0px 10px 10px;
                           
                        }
    
                    }
                }
                
            
            }
            .input{
                padding: 10px;
                height: 50px;
                background-color: #dae2ff;
                display: flex;
                align-items: center;
                justify-content: space-between;

                input{
                    width: 100%;
                    border: none;
                    outline: none;
                    color: #403950;
                    font-size: 18px;
                    @include mobile {
                        font-size: 15px;
                        }
                    &::placeholder{
                        color: rgb(148, 143, 143);
                    }
                }
                .send{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    justify-items: center;
                    gap: 10px;
                    @include mobile {
                        gap: 8px;
                        }
                    img{
                        height: 24px;
                        cursor: pointer;
                        @include mobile {
                            margin-left: 5px;
                            }
                    }
                    .clips{
                        @include mobile {
                            display: none;
                            }
                    }

                    button{
                        border: none;
                        padding: 10px 15px;
                        color: #F0D9FF;
                        background-color: #564c69;
                        cursor: pointer;
                        @include mobile {
                            font-size: smaller;
                            }
                    }
                    label{
                        img{
                            height: 24px;
                            object-fit: cover;
                        cursor: pointer;
                        @include mobile {
                            height: 18px;
                            }
                        }
                    }
                }
            }
        }       
    }
}
